# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [52]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key

from api_keys import g_key

print(g_key)

AIzaSyD5QimRRNzWbQy0MC17-5LQFnltBWNELIQ!

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [45]:
city_weather = pd.read_csv('../WeatherPy/output_data/cityweather.csv')
city_weather.set_index('City', inplace = True)
city_weather

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City,,,,,,,,
Mount Isa,-20.7333,139.5000,100.400,23,86,5.14,AU,1612057484
Punta Arenas,-53.1500,-70.9167,50.000,66,0,5.66,CL,1612057484
Hobart,-42.8794,147.3294,75.992,45,40,5.14,AU,1612057319
Herat Province,34.5000,62.0000,51.800,22,90,3.09,AF,1612057485
Huarmey,-10.0681,-78.1522,70.880,78,51,3.17,PE,1612057485
...,...,...,...,...,...,...,...,...
Zonguldak,41.2500,31.8333,39.020,98,100,2.22,TR,1612057632
Dunedin,-45.8742,170.5036,60.998,73,100,10.73,NZ,1612057350
Linqu,36.5156,118.5397,51.998,40,0,0.89,CN,1612057632
Fairbanks,64.8378,-147.7164,-2.200,77,90,0.29,US,1612057480
Caniço,32.6333,-16.8500,62.600,77,20,2.57,PT,1612057633

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [46]:
gmaps.configure(api_key = g_key)

In [47]:
locations = city_weather[['Lat', 'Lng']].astype(float)

weight = city_weather['Humidity'].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = weight, dissipating = False, max_intensity = 100, point_radius = 2.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure